/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/poppins-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/poppins-v24-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/poppins-v24-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/poppins-v24-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/poppins-v24-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/poppins-v24-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: #f6f6f9;
}
.wrapper {
  margin: 40px auto;
  background-color: #fff;
  padding: 40px 40px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.left
{
    background-image: url(../../img/Thumbnail.png );
    width: 400px;
    height: 550px;
    display: flex;
    justify-content: start;
    align-items: end;
}

.info
{
    margin-left: 24px;
    margin-bottom: 24px;
}

.left_text
{
width: 352px;
height: 48px;
font-size: 16px;
line-height: 24px;
color: rgba(27, 27, 27, 0.6);
margin-top: 8px;
}

.email
{
    display: flex;
    justify-content: space-between;
    width: 352px;
    height: 41px;
}

.email_text
{
width: 120px;
height: 21px;
font-size: 16px;
line-height: 21px;
color: rgba(27, 27, 27, 0.1);
}

.email_img
{
    width: 21px;
    height: 21px;
}

.login
{
display: flex;
flex-direction: column;
align-items: center;
padding: 10px 18px;
gap: 10px;
text-align: center;
width: 352px;
height: 30px;
background: #3DCBB1;
border-radius: 14px;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
}

.facebook
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 18px;
gap: 10px;
width: 352px;
height: 30px;
background: #4267B2;
border-radius: 14px;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;

}

.apple
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 18px;
gap: 10px;
width: 352px;
height: 30px;
background: #1B1B1B;
border-radius: 14px;

font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;

}

.google
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
color: #1B1B1B;

flex: none;
order: 1;
flex-grow: 0;


/* Outline / Medium / Enabled */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 18px;
gap: 10px;
width: 390px;
height: 45px;
border: 1px solid rgba(27, 27, 27, 0.1);
border-radius: 14px;

}

.text 
{
width: 200px;
height: 18px;
font-size: 14px;
line-height: 18px;
color: rgba(27, 27, 27, 0.6);
flex: none;
order: 0;
flex-grow: 0;
}

.green
{
width: 43px;
height: 16px;
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
color: #3DCBB1;
flex: none;
order: 1;
flex-grow: 0;
}

.right
{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    padding: 24px 34px;
}