/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/poppins-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/poppins-v24-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/poppins-v24-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/poppins-v24-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/poppins-v24-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/poppins-v24-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: #f6f6f9;
}
.wrapper {
  margin: 40px auto;
  background-color: #fff;
  padding: 40px 40px;
  border-radius: 10px;
}

.navbar_search_div {
  width: 400px;
  height: 37px;
  background-color: #f6f6f9;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
}

.navbar_search_text {
  width: 141px;
  height: 21px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(27, 27, 27, 0.6);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar_btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  border: 1px solid rgba(27, 27, 27, 0.9);
  border-radius: 12px;
  background-color: transparent;

  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 27, 27, 0.9);
  flex: none;
}

.navbar_btn2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  background: #3dcbb1;
  border-radius: 12px;
  border: none;
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  flex: none;
}

.navbar_btn2_img {
  margin-right: 10px;
}

.navbar_btn2_img,
.navbar_btn2 {
  vertical-align: middle;
}

.header {
  background-image: url(../../img/Hero.png);
  width: 100%;
  height: 660px;
}

.header_div {
  margin: auto;
  width: 1200px;
  margin-top: 50px;
  background-color: #f6f6f9;
  border-radius: 23px;
  padding: 32px;
}

.header_title {
  width: 285px;
  height: 30px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  margin-bottom: 20px;
}

.header_div2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.header_text {
  font-size: 16px;
  line-height: 24px;
  color: rgba(27, 27, 27, 0.6);
}

.header_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  width: 179px;
  height: 50px;
  background: #3dcbb1;
  border-radius: 18px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
  border: none;
}

.subs1_div {
  display: flex;
  gap: 10px;
}

.subs1_div2 {
  display: flex;
  gap: 5px;
}

.green_text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #3dcbb1;
}

.subs_title {
  width: 285px;
  height: 21px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  flex: none;
  order: 1;
  align-self: center;
  flex-grow: 0;
}

.class {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.class_mini_title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.class_text {
  width: 77px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.subs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.subs_btm_img {
  margin-top: 50px;
}

.Trend_right_top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.Trend {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.Trend_right {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.Trend_title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.web_text {
  width: 285px;
  height: 54px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(27, 27, 27, 0.9);
  flex: none;
  order: 3;
  align-self: center;
  flex-grow: 0;
}

.web {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.web_title {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

.buy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  padding: 40px;
  background-color: #ffec8a;
  margin-top: 70px;
}

.buy_text {
  width: 640px;
  height: 26px;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.buy_btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 18px;
  gap: 10px;
  width: 124px;
  height: 41px;
  border: 1px solid rgba(27, 27, 27, 0.6);
  border-radius: 14px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: rgba(27, 27, 27, 0.6);
  flex: none;
  order: 1;
  flex-grow: 0;
  background-color: transparent;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 180px;
  padding: 40px 105px;
  background-color: #1b1b1b;
}

.footer_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.footer_div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
