/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/poppins-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/poppins-v24-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/poppins-v24-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/poppins-v24-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/poppins-v24-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/poppins-v24-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: #f6f6f9;
}
.wrapper {
  width: 1300px;
  margin: 40px auto;
  background-color: #fff;
  padding: 40px 40px;
  border-radius: 10px;
}

.navbar_text {
  width: 68px;
  height: 28px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252b42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.navbar_txt {
  width: 68px;
  height: 28px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #fa4a0c;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.navbar_div {
  width: 580px;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-image: url(../img/intrBGImage.png);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  padding: 75px;
}

.header_ytitle {
  left: 44.08%;
  right: 44.08%;
  top: 0%;
  bottom: 88.96%;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #f7f7f7;
}

.header_gtitle {
  width: 939px;
  height: 160px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  /* or 138% */
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.header_text {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #f7f7f7;
}

.header_btn {
  /* @ big button */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  width: 236px;
  height: 68px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  /* master button */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0px;

  width: 236px;
  height: 68px;

  background: #fa4a0c;
  box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
  border-radius: 30px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  letter-spacing: 0.1px;

  /* Light text */
  color: #ffffff;

  border: none;
}

.header_btn2 {
  /* master button */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0px;

  width: 236px;
  height: 68px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 30px;
  background-color: none;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  letter-spacing: 0.1px;
  color: #ffffff;
}

.header_btn_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.header_img {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 548px;
  height: 640px;
  margin: auto;
}

.hr {
  width: 884px;
  height: 0px;
  margin-bottom: 50px;
}

.s {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.s_title2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #fa4a0c;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.s_title {
  margin-bottom: 15px;
  margin-top: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.s_text {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: #737373;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.media_title {
  width: 426px;
  height: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 36px;
  letter-spacing: 0.1px;
  margin: auto;
  color: #000000;
  opacity: 0.8;
  margin-top: 50px;
}

.s_left2 {
  margin-left: 120px;
}

.footer {
  background-image: url(../img/downloadBGImages.png);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  padding: 130px;
}

.footer_title {
  /* Download the app now. */

  width: 503px;
  height: 57px;

  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  /* identical to box height, or 142% */
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer_text {
  /* Available on your favorite store. Start your premium experience now */

  width: 840px;
  height: 38px;

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  /* identical to box height, or 158% */
  text-align: center;
  letter-spacing: 0.2px;

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer_btn {
  /* second button */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 31px;
  gap: 10px;

  width: 142px;
  height: 64px;

  background: #fa4a0c;
  border-radius: 10px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  letter-spacing: 0.2px;

  /* Light text */
  color: #ffffff;

  border: 1px solid #fa4a0c;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer_btn2 {
  /* button */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 45px;
  gap: 10px;

  width: 173px;
  height: 60px;

  /* Light background */
  border: 1px solid #ffffff;
  border-radius: 10px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  letter-spacing: 0.2px;

  /* Light text */
  color: #ffffff;

  background-color: transparent;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer_div {
  display: flex;
  gap: 40px;
}

.end {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 150px;
}
