* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: rgb(216, 207, 207);
}
.wrapper {
  width: 1500px;
  margin: 40px auto;
  background-color: #f6f6f6;
  padding: 40px 40px;
  border-radius: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.navbar_text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #000000;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.header_left {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  background-color: #e7fafe;
  width: 620px;
  height: 640px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 0px 50px;
}

.header_title {
  width: 520px;
  height: 154px;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -0.04em;
  color: #000000;
}

.header_text {
  width: 520px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.6);
}

.header_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.header_time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 8px 16px;
  background-color: #0000000d;
  border-radius: 30px;
}

.header_div3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.div3_right {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  width: 110px;
}

.header_btn {
  width: 200px;
  height: 60px;
  background: #000000;
  border-radius: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #ffffff;
  border: none;
}

.header_div2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 160px;
}

.kategors {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
  margin-top: 160px;
}

.kategors_navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 850px;
}

.kategors_title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000000;
}

.kategors_btn {
  width: 200px;
  height: 60px;
  background: #e7fafe;
  border-radius: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #000000;
  border: none;
}

.sections {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.section_text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
}

.foods_navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  margin-top: 180px;
}

.foods_title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000000;
}

.foods_text {
  width: 706px;
  height: 56px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.olma {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.menu_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.menu_title {
  width: 352px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #000000;
}

.menu_food {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 25px;
  padding: 16px 16px;
  background-color: rgb(222, 242, 249);
  border-radius: 30px;
}

.foods_line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.foods_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  gap: 56px;
}

.kitchen_left {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 40px;
}

.kitchen_title {
  width: 526px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000000;
}

.kitchen_text {
  width: 508px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.6);
}

.kitchen_btn {
  width: 180px;
  height: 60px;
  background: #000000;
  border-radius: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #ffffff;
  border: none;
}

.kitchen {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
  margin-top: 142px;
}

.insta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 140px;
  gap: 80px;
}

.insta_navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.insta_title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
}

.insta_text {
  width: 790px;
  height: 56px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.insta_imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.insta_btn {
  width: 229px;
  height: 60px;
  background: #000000;
  border-radius: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #ffffff;
  border: none;
}

.recipe_line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.recipe_food {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 20px;
}

.recipe_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.recipe_title {
  width: 290px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.04em;
  color: #000000;
}

.recipe_maintitle {
  width: 507px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000000;
}

.recipe_text {
  width: 620px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.6);
}

.recipe_navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  margin-bottom: 40px;
}

.recipe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 150px;
}

.inbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  background-image: url(../../img2/Mask\ Group\ \(28\).png);
  width: 1280px;
  height: 442px;
  margin: auto;
  margin-top: 150px;
}

.inbox_title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000000;
}

.inbox_text {
  width: 620px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.inbox_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 10px;
  border-radius: 24px;
  width: 480px;
  margin-top: 64px;
}

.inbox_input {
  border: none;
  width: 134px;
  height: 17px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.4);
  margin-left: 30px;
}

.inbox_btn {
  width: 160px;
  height: 60px;
  background: #000000;
  border-radius: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #ffffff;
  border: none;
}

.footer_left {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 16px;
}

.footer_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.6);
}

.footer_right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.footer {
  display: flex;
  align-items: start;
  justify-content: center;
  margin-top: 150px;
  gap: 500px;
}
