/* rubik-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/rubik-v31-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/rubik-v31-cyrillic_latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/rubik-v31-cyrillic_latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/rubik-v31-cyrillic_latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/rubik-v31-cyrillic_latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-900 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 900;
  src: url("../../../../fonts/rubik-v31-cyrillic_latin-900.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik";
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: #f6f6f9;
}
.wrapper {
  margin: 40px auto;
  background-color: #fff;
  padding: 40px 40px;
  border-radius: 10px;
}

.navbar_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.navbar_text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #565656;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 443px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 210px;
  margin-top: 100px;
}

.header_title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  width: 500px;
  height: 171px;

  color: #131313;
}

.header_img {
  width: 750px;
  height: 400px;
}

.header_text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  color: #828282;
}

.header_btn {
  background: linear-gradient(97.02deg, #7421b0 28.9%, #d08eff 139.98%);
  border-radius: 5px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  width: 235px;
  height: 70px;
  border: none;
}

.header_left {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 40px;
}

.bold {
  font-weight: 700;
}

.facts_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 140px;
  margin-bottom: 80px;
  margin-top: 200px;
}

.facts_title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 43px;
  color: #131313;
  width: 473px;
  height: 86px;
}

.facts_text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  color: #828282;
  width: 571px;
  height: 169px;
}

.facts_div2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.facts_img {
  width: 330px;
  height: 300px;
}

.ekran {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

.ekran_title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #131313;
}

.ekran_text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #828282;
  width: 450px;
}

.ekran_right,
.ekran_left {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 40px;
}

.free {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.free_img {
  width: 330px;
  height: 300px;
}

.free_btn {
  background: #131313;
  border-radius: 5px;
  width: 235px;
  height: 70px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  margin-left: 600px;
  margin-top: 90px;
}

.formas {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.formas_title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #131313;
  width: 500px;
  margin-bottom: 100px;
  margin-top: 200px;
}

.voice_img {
  width: 400px;
}

.voice {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.voice_title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #131313;
  margin-bottom: 100px;
  margin-top: 200px;
}

.internet_text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  color: #828282;
  width: 521px;
}

.internet_title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  width: 516px;
}

.internet_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 200px;
  margin-bottom: 50px;
}

.internet_img {
  width: 330px;
  height: 300px;
}

.internet_div2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.faq1_div {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}

.faq_text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #828282;
  width: 584px;
}

.faq1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  padding: 50px;
  box-sizing: border-box;
  width: 1196px;
  height: 258px;
  background: rgba(196, 196, 196, 0.1);
  border: 4px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  border-radius: 16px;
  border: white;
}

.faq {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 200px;
}

.faq_title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  color: #131313;
  width: 596px;
}

.dow {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
}

.dow_text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  color: #131313;
  width: 705px;
}

.dow_btn {
  background: linear-gradient(97.02deg, #7421b0 28.9%, #d08eff 139.98%);
  border-radius: 5px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  width: 235px;
  height: 70px;
  border: none;
}

.footer {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 150px;
  padding: 60px 240px;
  margin-top: 200px;
  background-color: #f6f6f9;
}

.footer_div {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

.footer_text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  color: #828282;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer_title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #131313;
}
